<div class="reset-form">
  <form (submit)="onSubmit($event)">
    <h2>Restablecer Contraseña</h2>

    <label class="input-icon password"
      [ngClass]="{
        'pending': !resetModel().password,
        'valid': resetModel().password.length >= 8,
        'error': resetModel().password && resetModel().password.length < 8
      }">
      <span>Nueva Contraseña</span>
      
      <div class="field-wrapper">
        <input 
          [type]="showPassword() ? 'text' : 'password'" 
          [formField]="resetForm.password" 
          placeholder="Mínimo 8 caracteres" />
        <button 
          type="button" 
          class="toggle-eye" 
          (click)="togglePasswordVisibility()" 
          tabindex="-1">
          <mat-icon>{{ showPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>

      <span class="error" *ngIf="!resetModel().password">Contraseña es obligatoria</span>
      <span class="error" *ngIf="resetModel().password && resetModel().password.length < 8">
        Mínimo 8 caracteres
      </span>
    </label>

    <button type="submit"
      [disabled]="!resetModel().password || resetModel().password.length < 8">
      Guardar nueva contraseña
    </button>
  </form>
</div>