<div class="reset-form">
  <h2>Restablecer Contraseña</h2>
  <form (submit)="onSubmit($event)">
    <label class="input-icon password"
      [ngClass]="{
        'pending': !resetModel().password,
        'valid': resetModel().password.length >= 8,
        'error': resetModel().password && resetModel().password.length < 8
      }">
      <span class="icon">🔒</span> Nueva Contraseña:
      <input type="password" [formField]="resetForm.password" placeholder="********" />
      <span class="error" *ngIf="!resetModel().password">Contraseña es obligatoria</span>
      <span class="error" *ngIf="resetModel().password && resetModel().password.length < 8">
        Mínimo 8 caracteres
      </span>
    </label>

    <button type="submit"
      [disabled]="!resetModel().password || resetModel().password.length < 8">
      Guardar nueva contraseña
    </button>
  </form>
</div>
