<header class="navbar-admin">
  
  <div class="navbar-brand">
    <span>Panel de Control</span>
  </div>

  <div class="navbar-actions">
    <a routerLink="/home" class="btn-nav">
      <mat-icon>theaters</mat-icon>
      <span>Ir a Cartelera</span>
    </a>

    <a class="btn-nav" routerLink="/mis-peliculas">
      <mat-icon>confirmation_number</mat-icon>
      <span>Mis Películas</span>
    </a>

    <div class="user-profile">
      <mat-icon>account_circle</mat-icon>
      <span>{{ usuarioLabel() }}</span>
    </div>

    <button type="button" class="btn-logout" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Salir</span>
    </button>
  </div>
</header>